.navbar nav{
	background-color: #f1eeee;
}
.nav-link{
	font-size: 1.2rem;
}
.navbar-brand{
	font-size: 1.5rem;
}
li a{
	color:black;
}
.navbar-brand{
	color: black;
}
#toalign{
	align-self: center;
}
#jabya{
	background-color: white;
}