main{
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-bottom:0;
	background: #fff;
}
.Compcard{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap:2rem;
	margin-top: 1rem;
	position: absolute;
	max-width: 700px;
	width:100%;
	border-radius: 10px;
	height: 100px;
	margin-bottom: 120px;
	
}
.status{
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 2rem;
	border-radius: 2px;
}
.status .dispStat{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 18px;
	background: green;
	color: bold #fff;
	padding: 1rem;
	border-radius: 5px;
}

.container{
	margin-top: 150px;
	max-width:700px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	position: relative;
} 

.container .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: #dddadf;
	transition:all 0.3s ease;
}

.container form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:20px 0 12px 0;
}

form .user-details .input-box{
	margin-bottom: 1.5rem;
	width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.user-details .input-box input, select{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border-radius: 1px solid #ccc;
	padding-left: 15px;
	padding-right: 10px;
	font-size: 16px;
	border-bottom-width: 2px;
}

.user-details .input-box input:focus, select:focus
.user-details .input-box input:valid, select:valid{
	border-color: #9b59b6; 
}

form .btn{
	display: flex;
	justify-content: center;
	height: 3rem;
	margin:4rem 0;


}

form .btn input{
	height: 100%;
	width: 20%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	border-radius: 5px;
	background: #9370db;
}
@media only screen and (max-width: 560px){
	
	.Compcard{
		width: calc(100% - 20px);
	}
	.container form .user-details .input-box{
		
		width:100%;
	}
}